[submodule "external/libsndfile"]
	path = external/libsndfile
	url = https://github.com/libsndfile/libsndfile.git

[submodule "external/openal"]
	path = external/openal
	url = https://github.com/kcat/openal-soft.git
