[submodule "external/openal-soft"]
	path = external/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "external/libsndfile"]
	path = external/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
